<!DOCTYPE html>
<html>
    <%- include('./partials/header.ejs') %>

    <body>
        <%- include('./partials/navheader.ejs') %>

        <!-- HALAMAN BLOG -->
        <div class="about content container is-fluid">
            <h2>About Saya</h2>
            <p>
                Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                Voluptatum qui ratione accusantium! Quam officiis ea nemo beatae
                veritatis architecto, aspernatur dicta magni totam. Saepe
                debitis repellat voluptatem ad laudantium mollitia.
            </p>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto
                vero sunt dolores laborum doloremque! Consequuntur ex
                repellendus tempora, porro eos ab eveniet voluptates, dolores
                aliquid omnis dolorum necessitatibus, animi excepturi?
            </p>
        </div>

        <%- include('./partials/footer.ejs') %>
    </body>
</html>
