<nav>
    <div class="site-title">
        <a href="/"><h1>Blog Node JS</h1></a>
        <p>Blog Sample EJS</p>
    </div>
    <ul>
        <li><a href="/">Blogs</a></li>
        <li><a href="/blogs/about-us">About Us</a></li>
        <li><a href="/blogs/create">New Blogs</a></li>
    </ul>
</nav>
